<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="address" value="http://127.0.0.1:8888/" />
    <add key="robotqq" value="3623498320" />
    <add key="masterqq" value="441870948" />
    <add key="tencent_appkey" value="*" />
    <add key="tencent_appid" value="*" />
  </appSettings>
</configuration>